extends layout

block content
	form(action='/adopt' method='GET')
		.container
			label
				b Username
				p #{Username}
			|
			label
				b Password
				p #{Password}
			a(href='/logout') Logout
			p
			a(href='/dates') Dates
			p
			a(href='/rescue') Rescue
			p
			a(href='/community') Community