extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the community page
  include community_create_post
  p
  this spot will be for the posts from db
  p
  a(href='/logout') Logout
  p
  a(href='/adopt') Adopt
  p
  a(href='/dates') Dates
  p
  a(href='/rescue') Rescue
  p
