extends layout
block content


  form#create_post_action(action='/community', method='POST',enctype='multipart/form-data')
    .container
      
      label(for='post_title') Title
      input(type='text', placeholder='title', name='post_title', required='')
      p
      label(for='text_post')
      p
      textarea#post(name='text_post', placeholder='enter text' ,cols='25', rows='3')
      p
      label(for='photo') Attach a photo:
      input#photo(type='file', name='photo', value='')
      p
      input(type='submit', value='Fost.r it')

