extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the dates page
  a(href='/logout') Logout
  p
  a(href='/adopt') Adopt
  p
  a(href='/rescue') Rescue
  p
  a(href='/community') Community