extends layout

block content
	form(action='/login_user' method='POST')
		.container
		
			label
				b Username
			|
			input(type='text', placeholder='Enter Username', name='Username', required='')
			|
			label
				b Password
			|
			input(type='password', placeholder='Enter Password', name='password', required='')
			|
			button(type='submit') Login