extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is the rescue page
  a(href='/logout') Logout
  p
  a(href='/dates') Dates
  p
  a(href='/adopt') Adopt
  p
  a(href='/community') Community