extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        a(href='/signup_shelter') Shelter
        p
        a(href='/signup_user') User

      